* {
    box-sizing: border-box;
}
#comment-section {
    height: 600px;
    position: relative;
}
.sidebar-header > * {
    display: inline-block;
    /* get all items inside to be inline */
    vertical-align: middle;
    font-size: 18px;
}
.sidebar-header {
    border-bottom: 1px dotted gray;
    padding: 20px;
    width: 335px;
}
.sidebar-header a {
    text-decoration-line: none;
}
.sidebar-header a:visited {
    color: rgb(0, 0, 238)
}
.conversation > * {
    display: inline-block;
    vertical-align: top;
}
.conversation {
    padding: 20px;
    width: 335px;
}

.profile-pic {
    background-image: url(../images/10731800_1493307807620537_1378917932_a.jpg);
    background-size: cover;
    /* background-size: cover keeps the aspect ratio, but resizes to fit */
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.actions a {
    display: inline-block;
    color: gray;
    padding: 15px;
    border: 1px solid red;
}

.actions {
    padding: 15px;
    width: 335px;
    border: 1px solid blue;
    /* pinning to the bottom of the page */
    position: absolute;
    bottom: 0;
}
.push-right {
    float: right;
}